include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio
  body
    .wrapper
      .welcome-section
        section.hero
          .container.hero__container
            header.header.hero__header
              .hero__logo
                .logo ЧА
              .hero__menu
                nav.nav
                  - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}

              .hero__links.social 
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="").socials__link
                        +icon(`${item}`, 'socials__icon')

            .hero__content
              .user-info
                h1.user-info__desc Личный сайт вэб разработчика
                .user-info__username Черемисин Александр

            .hero__btns
              .scroll-down Скролл
              .scroll-down__icon-wrap
                +icon("scroll", "scroll-down__icon")

        section.about
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю', 'Санкт-Петербург'],
                      ['Возраст', '31'],
                      ['Родился', '30 июля 1988'],
                    ]
                  each item in items
                    li.user__desc-item
                      .user__key #{item[0]}
                      .user__value #{item[1]}
            .about__right
              h4.about__prolog Привет, меня зовут
              h2.about__title Черемисин Александр
              .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftScool. Чуть позже я освежу в нём свой контент. А пока посмотрите как тут все классно и красиво!

      .triangles
        svg.triangles__item(viewBox="0 0 1000 110" preserveAspectRatio="none")
          polygon(points="0,0 0,110 1000,110")
        svg.triangles__item(viewBox="0 0 1000 110" preserveAspectRatio="none")
          polygon(points="0,110 1000,110 1000,0")


      section.values
        .container
          .values__title
            h2.section-title.values__title-text Чем я могу быть полезен вам
        .values__wrapper
          .values__left
            .values__image
          .values__right
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            ul.user-skills
              - 
                var skills = [
                  ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery и vue.js']],
                  ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
              each item in skills 
                li.user-skills__item.skills-row 
                  h3.section-title.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          .skill__shape                            
                            svg(viewBox="0 0 100 100" style="fill: transparent;")
                              circle(cx="50" cy="50" r="47" fill="transparent" stroke='#363636' stroke-width="3px")
                              circle(cx="50" cy="50" r="47" stroke="url(#gradient)" transform="rotate(180 50 50)"  stroke-dasharray="251" :stroke-dashoffset="skill.percent" stroke-width="7px")
                              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                                stop(offset="0%" stop-color='#5c10ec')
                                stop(offset="100%" stop-color='#7500ea')
                              .skill__title #{skill}                            

      section.works
        .container
          h2.section-title.works__title Мои работы
          .works__wrapper
            .works__left
              .slider
                +image('content/preview_my_works.jpg', 'slider__fillpic')
                .slider__preview
                  ul.previews
                    - var worksImages = ['content/my_works_min-1.jpg','content/my_works_min-2.jpg','content/my_works_min-3.jpg','content/my_works_min-4.jpg']
                    - for (var i = 0; i < worksImages.length; i++)
                      li.previews__item(class=`${i === 3 ? 'previews__item--active' : ''}`)
                        a.previews__link
                          +image(`${worksImages[i]}`, 'previews__pic')
                .slider__buttons                  
                  button.slider-buttons__item.slider-buttons__item--slide--prev 
                    +icon('arrow-down', 'slider-buttons__icon')
                  button.slider-buttons__item.slider-buttons__item--slide--next.active
                    +icon('arrow-down', 'slider-buttons__icon')

            .works__right
              .works__tags
                - var tags = ['HTML', 'CSS', 'Javascript']          
                  ul.works__tags-list 
                    each tag in tags
                      li.works__tags-item #{tag}
              .works__text
                h3.works__title-right Сайт школы образования
                .works__desc-text
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.works__link
                  +icon('link','works__link-icon')
                  .works__link-text Посмотреть сайт
        
      .group-about-me
        .triangles-down
          svg.triangles-down__item(viewBox="0 0 1000 75" preserveAspectRatio="none")
            polygon(points="0,0 1000,75 1000,-75")
          svg.triangles-down__item(viewBox="0 0 1000 75" preserveAspectRatio="none")
            polygon(points="0,75 0,0 1000,0")   
        section.rewiews
          .container
            h2.section-title.rewiews__title Что обо мне говорят
            .rewiews__carusel.carusel
              .carusel__wrapper
                ul.carusel__list
                  - var caruselArr = [{name: 'Ковальчук Дмитрий', prof: 'Основатель Loftschool', avatar:'content/avatar_1.jpg', text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'},                    {name: 'Владимир Сабанцев', prof: 'Преподаватель', avatar:'content/avatar_2.jpg', text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'}]
                  each key, index in caruselArr
                    li.carusel__item
                      .carusel__item-quote
                        +icon('quote','carusel__item-icon')                      
                      .carusel__item-wrap
                        p.carusel__text=caruselArr[index].text
                        .carusel__avtor-info
                          .carusel__avatar-wrapper
                            +image(`${caruselArr[index].avatar}`, 'carusel__avatar')
                          .carusel__avtor-desc
                            h4.carusel__avtor=caruselArr[index].name
                            span.carusel__prof=caruselArr[index].prof

                .carusel__buttons
                  button.carusel__button.carusel__button-prev
                    +icon('arrow-down', 'carusel-buttons__icon')
                  button.carusel__button.carusel__button-next
                    +icon('arrow-down', 'carusel-buttons__icon')
        section.feedback
          .container
            h2.section-title.feedback__title Связаться со мной
            .feedback__form
              form.main-form                
                .main-form__row
                  .main-form__row-item
                    label(for="feed-name" class="main-form__label") Введите ваше имя
                    input(type="text", name="feed-name" id="feed-name"  placeholder="Ковальчук Дмитрий")
                  .main-form__row-item
                    label(for="feed-email" class="main-form__label") Введите ваш email
                    input(type="email", name="feed-email" id="feed-email" placeholder="loftschool@study.com")
                .main-form__row
                  .main-form__row-item.main-form__row-item--textarea
                    label(for="feed-text" class="main-form__label") Сообщение к письму
                    textarea(name="feed-text", id="feed-text") Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса
                .main-form__row                    
                  input(type="submit" id="feed-submit" class="form__submuit" value="Отправить")
      footer.footer
        .container
          .footer__wrapper
            .footer__left
              .footer__copyright &copy; 2019
              .footer__author-wrap
                .footer__author-name Черемисин Александр
                .footer__author-text  Личный сайт веб-разработчика
            .footer__right
              .footer__nav
                nav.nav
                    - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
              .footer__info-block
                .footer__info-left
                  .footer__info-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__social                   
                    - var icons = ['insta', 'vk', 'github']
                    ul.socials
                      each item, index in icons
                        li.socials__item.socials__item--footer(class=`${index === 1 ? 'active' : ''}`)
                          a(href="").socials__link.socials__link--footer
                            +icon(`${item}`, 'socials__icon')
                .footer__info-right.quote
                  .quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .quote-author Martin Golding